body {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.25rem;
  margin: 0;
}

.whole-screen {
  background: rgb(147, 250, 240);
  margin-top: 0px;
}
.cards {
  border-color: black;
  border: solid;
  text-align: center;
  margin: 20px;
  position: relative;
  border-radius: 10px;
}
.servis {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  max-width: 700px;
  justify-content: center;
}

.cards > p {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 700;
}
.cards > img {
  height: 30dvh;
  width: 85dvw;
  max-width: 500px;
  object-fit: cover;
}
.navbar-top {
  display: flex;
  justify-content: end;
}
.navbar-top > button {
  padding: 20px 20px;
  display: block;
  position: absolute;
  border: none;
  background-color: rgb(175, 250, 219);
  border-radius: 20px;
  z-index: 100000;
}
/*.animation-shrink {
  animation: ShrinkNow 0.5s cubic-bezier(0.2, 0.59, 0.92, 0.75) 1 forwards;
}

@keyframes ShrinkNow {
  from {
    width: 90dvw;
    height: 100vh;
  }

  to {
    width: 0px;
    height: 0px;
  }
}*/

/*.animation-grow {
  animation: GrowNow 0.5s cubic-bezier(0.2, 0.59, 0.92, 0.75) 1 forwards;
}

@keyframes GrowNow {
  from {
    width: 0px;
    height: 0px;
  }

  to {
    width: 90dvw;
    height: 100dvh;
  }
  
}
*/
h1 {
  text-align: center;
  font-size: 3rem;
  top: 0px;
  position: relative;
  margin: 10px;
}

.navbar {
  position: fixed;
  bottom: 0;

  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  z-index: 99999999999999999999999999999999999999999999999999;
}
.navbar > a {
  padding: 20px 35px;
  background-color: rgb(58, 66, 66);
  color: whitesmoke;
  text-decoration: none;

  text-align: center;

  display: inline-block;
  border: 2px solid rgb(153, 196, 231);
}

.cards-container {
  bottom: 0;
  position: relative;
  display: flex;
  justify-content: center;
}

.cashout {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  position: relative;
}

.cashout > img {
  width: 200px;
  height: 200px;
  border-right: 2px black dashed;
  border-left: 2px black dashed;
  border-top: 2px black dashed;
}

.text-cashout > div > p {
  display: inline;
  padding: 0px;
}
.text-cashout > div {
  text-align: center;
  width: 200px;
  border-right: 2px black dashed;
  border-left: 2px black dashed;
  border-bottom: 2px black dashed;
  background: rgb(178, 255, 156);
  background: linear-gradient(
    162deg,
    rgba(178, 255, 156, 1) 10%,
    rgba(2, 255, 111, 1) 100%
  );
}
.up {
  font-size: 1.5em;
}

.buy-btn {
  border: none;
  padding: 20px 35px;
  font-size: 2rem;
  font-weight: 700;
}

#shop-button {
  position: absolute;
  z-index: 99999;
  top: 15px;
  right: 6%;
  padding: 15px;
  border-radius: 20px;
  background-color: rgb(96, 228, 177);
}
