*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
body {
  background: rgba(95, 149, 255, 1);
  overflow-x: hidden;
}
#expand-on-click {
  position: absolute;
  width: 100dvw;
  height: 100dvh;
  display: block;
  right: auto;
  left: auto;
  z-index: 9999;
}

.cashout {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  position: relative;

  margin: 20px 0;
}

.cashout > img {
  width: 200px;
  height: 200px;
  border-right: 2px white dashed;
  border-left: 2px white dashed;
  border-top: 2px white dashed;
  box-shadow: 0 0 5px rgb(255, 255, 255);
}

.text-cashout > div > p {
  display: inline;
  padding: 0px;
}
.text-cashout > div {
  text-align: center;
  width: 200px;
  border-right: 2px rgb(255, 255, 255) dashed;
  border-left: 2px rgb(255, 255, 255) dashed;
  border-bottom: 2px rgb(255, 255, 255) dashed;
  background: rgb(178, 255, 156);
  background: linear-gradient(
    162deg,
    rgb(234, 255, 184) 10%,
    rgb(243, 241, 235) 100%
  );
  box-shadow: 0 0 5px rgb(255, 255, 255);
}
.up {
  font-size: 1.75em;
  font-weight: 500;
}

.buy-btn {
  border: none;
  padding: 20px 35px;
  font-size: 2rem;
  font-weight: 700;
  color: black;
  background-color: bisque;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 70px;
}

.navbar {
  position: fixed;
  bottom: 0;

  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  z-index: 99999999999999999999999999999999999999999999999999;
}
.navbar > a {
  padding: 20px 35px;
  background-color: rgb(58, 66, 66);
  color: whitesmoke;
  font-size: em;
  text-decoration: none;

  text-align: center;

  display: inline-block;
  border: 2px solid rgb(153, 196, 231);
}

.checkout-h1 {
  text-align: center;
  font-size: 4.1rem;
  margin: 10px 0px;
}
